// custom utilities
$utilities: (
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      5: 5%,
      705: 7.5%,
      10: 10%,
      15: 15%,
      20: 20%,
      24: 24%,
      25: 25%,
      30: 30%,
      33: 33%,
      45: 45%,
      50: 50%,
      60: 60%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
  "viewport-width": (
    property: width,
    class: vw,
    values: (
      100: 100vw,
    ),
  ),
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      20: 20%,
      25: 25%,
      30: 30%,
      33: 33%,
      50: 50%,
      60: 60%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    "viewport-padding-x": (
      property: padding-right padding-left,
      responsive: true,
      class: vpx,
      values: (
        5: 5vw,
        10: 10vw,
        15: 15vw,
        20: 20vw,
        25: 25vw,
        30: 30vw,
        35: 35vw,
        40: 40vw,
        45: 45vw,
        50: 50vw,
        55: 55vw,
        60: 60vw,
        65: 65vw,
        70: 70vw,
        75: 75vw,
        80: 80vw,
        85: 85vw,
        90: 90vw,
        95: 95vw,
        100: 100vw,
      ),
    ),
    "viewport-margin-x": (
      property: margin-right margin-left,
      responsive: true,
      class: vmx,
      values: (
        5: 5vw,
        10: 10vw,
        15: 15vw,
        20: 20vw,
        25: 25vw,
        30: 30vw,
        35: 35vw,
        40: 40vw,
        45: 45vw,
        50: 50vw,
        55: 55vw,
        60: 60vw,
        65: 65vw,
        70: 70vw,
        75: 75vw,
        80: 80vw,
        85: 85vw,
        90: 90vw,
        95: 95vw,
        100: 100vw,
      ),
    ),
  ),
);

$utilities: map-merge(
  $utilities,
  (
    "viewport-padding-x": (
      property: padding-right padding-left,
      responsive: true,
      class: vpx,
      values: (
        5: 5vw,
        10: 10vw,
        15: 15vw,
        20: 20vw,
        25: 25vw,
        30: 30vw,
        35: 35vw,
        40: 40vw,
        45: 45vw,
        50: 50vw,
        55: 55vw,
        60: 60vw,
        65: 65vw,
        70: 70vw,
        75: 75vw,
        80: 80vw,
        85: 85vw,
        90: 90vw,
        95: 95vw,
        100: 100vw,
      ),
    ),
    "viewport-margin-x": (
      property: margin-right margin-left,
      responsive: true,
      class: vmx,
      values: (
        5: 5vw,
        10: 10vw,
        15: 15vw,
        20: 20vw,
        25: 25vw,
        30: 30vw,
        35: 35vw,
        40: 40vw,
        45: 45vw,
        50: 50vw,
        55: 55vw,
        60: 60vw,
        65: 65vw,
        70: 70vw,
        75: 75vw,
        80: 80vw,
        85: 85vw,
        90: 90vw,
        95: 95vw,
        100: 100vw,
      ),
    ),
  )
);
