@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~keen-slider/keen-slider.min.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import "margin_padding.css";
@import "flatpickr.css";

body {
  min-width: 320px;
}

/* Style the video: 100% width and height to cover the entire window */
@media screen and (min-width: 320px) {
  #carousel0 {
    height: 33vh;
  }
  .padding-section2 {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #carousel0 {
    height: 66vh;
  }
  .padding-section2 {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  #carousel0 {
    height: 75vh;
  }
  .padding-section2 {
    padding-top: 6rem;
  }
}

#carouselExample {
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
}

.section-uneven {
  background-color: aquamarine;
}

.section-even {
  background-color: aqua;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}
