.customDatepicker {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: grey;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .customDatepicker input {
    border: none;
    outline: none;
  }
  
  .customCalendar {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
  }
  
  .customWrapper {
    position: relative;
    display: inline-block;
  }
  
  .customDatepickerWrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    pointer-events: none;
  }