.m-6 {
  margin: 6rem !important;
}
.m-7 {
  margin: 9rem !important;
}
.m-8 {
  margin: 12rem !important;
}
.m-9 {
  margin: 15rem !important;
}
.m-10 {
  margin: 18rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mt-7 {
  margin-top: 9rem !important;
}
.mt-8 {
  margin-top: 12rem !important;
}
.mt-9 {
  margin-top: 15rem !important;
}
.mt-10 {
  margin-top: 18rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.mb-7 {
  margin-bottom: 9rem !important;
}
.mb-8 {
  margin-bottom: 12rem !important;
}
.mb-9 {
  margin-bottom: 15rem !important;
}
.mb-10 {
  margin-bottom: 18rem !important;
}
.mx-6 {
  margin-bottom: 6rem !important;
}
.mx-7 {
  margin-bottom: 9rem !important;
}
.mx-8 {
  margin-bottom: 12rem !important;
}
.mx-9 {
  margin-bottom: 15rem !important;
}
.mx-10 {
  margin-bottom: 18rem !important;
}
.my-6 {
  margin-bottom: 6rem !important;
}
.my-7 {
  margin-bottom: 9rem !important;
}
.my-8 {
  margin-bottom: 12rem !important;
}
.my-9 {
  margin-bottom: 15rem !important;
}
.my-10 {
  margin-bottom: 18rem !important;
}