.m-6 {
  margin: 6rem !important;
}
.m-7 {
  margin: 9rem !important;
}
.m-8 {
  margin: 12rem !important;
}
.m-9 {
  margin: 15rem !important;
}
.m-10 {
  margin: 18rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mt-7 {
  margin-top: 9rem !important;
}
.mt-8 {
  margin-top: 12rem !important;
}
.mt-9 {
  margin-top: 15rem !important;
}
.mt-10 {
  margin-top: 18rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.mb-7 {
  margin-bottom: 9rem !important;
}
.mb-8 {
  margin-bottom: 12rem !important;
}
.mb-9 {
  margin-bottom: 15rem !important;
}
.mb-10 {
  margin-bottom: 18rem !important;
}

.p-6 {
  padding: 6rem !important;
}
.p-7 {
  padding: 9rem !important;
}
.p-8 {
  padding: 12rem !important;
}
.p-9 {
  padding: 15rem !important;
}
.p-10 {
  padding: 18rem !important;
}
.pt-6 {
  padding-top: 6rem !important;
}
.pt-7 {
  padding-top: 9rem !important;
}
.pt-8 {
  padding-top: 12rem !important;
}
.pt-9 {
  padding-top: 15rem !important;
}
.pt-10 {
  padding-top: 18rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}
.pb-7 {
  padding-bottom: 9rem !important;
}
.pb-8 {
  padding-bottom: 12rem !important;
}
.pb-9 {
  padding-bottom: 15rem !important;
}
.pb-10 {
  padding-bottom: 18rem !important;
}