.p-6 {
  padding: 6rem !important;
}
.p-7 {
  padding: 9rem !important;
}
.p-8 {
  padding: 12rem !important;
}
.p-9 {
  padding: 15rem !important;
}
.p-10 {
  padding: 18rem !important;
}
.pt-6 {
  padding-top: 6rem !important;
}
.pt-7 {
  padding-top: 9rem !important;
}
.pt-8 {
  padding-top: 12rem !important;
}
.pt-9 {
  padding-top: 15rem !important;
}
.pt-10 {
  padding-top: 18rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}
.pb-7 {
  padding-bottom: 9rem !important;
}
.pb-8 {
  padding-bottom: 12rem !important;
}
.pb-9 {
  padding-bottom: 15rem !important;
}
.pb-10 {
  padding-bottom: 18rem !important;
}
.px-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.px-7 {
  padding-left: 9rem !important;
  padding-right: 9rem !important;
}
.px-8 {
  padding-left: 12rem !important;
  padding-right: 12rem !important;
}
.px-9 {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}
.px-10 {
  padding-left: 18rem !important;
  padding-right: 18rem !important;
}
.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.py-7 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}
.py-8 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}
.py-9 {
  padding-top: 15rem !important;
  padding-bottom: 15rem !important;
}
.py-10 {
  padding-top: 18rem !important;
  padding-bottom: 18rem !important;
}